
@{
	ViewData["Title"] = "Le mie prenotazioni";
}
@using Microsoft.AspNetCore.Identity
@using VillaggioVacanze.DB.Entities
@using System.Collections.Generic;

@inject VillaggioVacanze.DB.DBContext dbContext

<h1>@ViewData["Title"]</h1>


<div class="table-responsive text-nowrap">
    <!--Table-->
    <table class="table table-striped table-hover">

        <!--Table head-->
        <thead style="position: sticky">
            <tr>
                <th>#</th>
                <th>Viaggio</th>
                <th>Surname</th>
                <th>Country</th>
                <th>City</th>
                <th>Position</th>
                <th>Age</th>
            </tr>
        </thead>

        <!--Table body-->
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Kate</td>
                <td>Moss</td>
                <td>USA / The United Kingdom / China / Russia </td>
                <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
                <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
                <td>23</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Kate</td>
                <td>Moss</td>
                <td>USA / The United Kingdom / China / Russia </td>
                <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
                <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
                <td>23</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Kate</td>
                <td>Moss</td>
                <td>USA / The United Kingdom / China / Russia </td>
                <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
                <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
                <td>23</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Kate</td>
                <td>Moss</td>
                <td>USA / The United Kingdom / China / Russia </td>
                <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
                <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
                <td>23</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Kate</td>
                <td>Moss</td>
                <td>USA / The United Kingdom / China / Russia </td>
                <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
                <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
                <td>23</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Kate</td>
                <td>Moss</td>
                <td>USA / The United Kingdom / China / Russia </td>
                <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
                <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
                <td>23</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Kate</td>
                <td>Moss</td>
                <td>USA / The United Kingdom / China / Russia </td>
                <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
                <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
                <td>23</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Kate</td>
                <td>Moss</td>
                <td>USA / The United Kingdom / China / Russia </td>
                <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
                <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
                <td>23</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Kate</td>
                <td>Moss</td>
                <td>USA / The United Kingdom / China / Russia </td>
                <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
                <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
                <td>23</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Kate</td>
                <td>Moss</td>
                <td>USA / The United Kingdom / China / Russia </td>
                <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
                <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
                <td>23</td>
            <tr>
                <th scope="row">1</th>
                <td>Kate</td>
                <td>Moss</td>
                <td>USA / The United Kingdom / China / Russia </td>
                <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
                <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
                <td>23</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Kate</td>
                <td>Moss</td>
                <td>USA / The United Kingdom / China / Russia </td>
                <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
                <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
                <td>23</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Kate</td>
                <td>Moss</td>
                <td>USA / The United Kingdom / China / Russia </td>
                <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
                <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
                <td>23</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Kate</td>
                <td>Moss</td>
                <td>USA / The United Kingdom / China / Russia </td>
                <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
                <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
                <td>23</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Kate</td>
                <td>Moss</td>
                <td>USA / The United Kingdom / China / Russia </td>
                <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
                <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
                <td>23</td>
                <tr>
                <th scope="row">1</th>
                <td>Kate</td>
                <td>Moss</td>
                <td>USA / The United Kingdom / China / Russia </td>
                <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
                <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
                <td>23</td>

            </tr>
            </tr>
            </tr>

        </tbody>



    </table>

</div>
