
@{
	ViewData["Title"] = "Le mie prenotazioni";
}
@using Microsoft.AspNetCore.Identity
@using VillaggioVacanze.DB.Entities
@using System.Collections.Generic;

@inject VillaggioVacanze.DB.DBContext dbContext


<h1 class="mt-4 mb-4">@ViewData["Title"]</h1>


<div class="table-responsive text-nowrap">
    <!--Table-->
    <table class="table table-hover table-light">

        <!--Table head-->
        <thead style="position: sticky;" bgcolor="light-blue">
            <tr>
                <th>#</th>
                <th>Viaggio</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Email</th>
                <th>Data prenotazione</th>
                <th>Data modifica</th>
                <th>Numero posti prenotati</th>
                <th> </th>
                
            </tr>
        </thead>

        <!--Table body-->
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Kate</td>
                <td>Kate</td>
                <td>Moss</td>
                <td>USA / The United Kingdom / China / Russia </td>
                <td>New York City / Warsaw / Lodz / Amsterdam / London / Chicago</td>
                <td>Web Designer /UX designer / Ul designer / JavaScript Developer</td>
                <td>23</td>
                <td><input type="image" src="~/Immagini/Matita.jpg" style="width:23px;" onclick=""> <input type="image" style="width:23px;" src="~/Immagini/Cestino.jpg" onclick=""> </td>
            </tr>

        </tbody>

    </table>

</div>
